<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test_temp.mapper.TestTempMapper">
    
    <resultMap type="TestTemp" id="TestTempResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectTestTempVo">
        select id, user_id from test_temp
    </sql>

    <select id="selectTestTempList" parameterType="TestTemp" resultMap="TestTempResult">
        <include refid="selectTestTempVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectTestTempById" parameterType="Long" resultMap="TestTempResult">
        <include refid="selectTestTempVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTestTemp" parameterType="TestTemp">
        insert into test_temp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>

    <update id="updateTestTemp" parameterType="TestTemp">
        update test_temp
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTestTempById" parameterType="Long">
        delete from test_temp where id = #{id}
    </delete>

    <delete id="deleteTestTempByIds" parameterType="String">
        delete from test_temp where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>